[Desktop Entry]
Version=1.0
Type=Application
Name=BG-Soft
Comment=Automatisierung BG-Soften mit OBS
Icon=${APP_DIR}/bgsoft.png
Exec=${CONDA_PREFIX}/bin/python ${APP_DIR}/bg_soft_gui.py
Path=${APP_DIR}
Terminal=false
Categories=AudioVideo;Utility;
StartupNotify=true
StartupWMClass=bgsoft
